<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotty Search</title>
</head>
<body>
    Hello Search!
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.artist.label }} {{ form.artist(size=20) }}
        {{ form.album.label }} {{ form.album(size=20) }}
        {{ form.track.label }} {{ form.track(size=20) }}
        <input type="submit" value="Go">
    </form>
    
</body>
</html>